<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}App{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/carpmto/css/estilos.global.css') }}" />
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>        
        <div id="contenedor">   
            <div id="cabecera">Cabecera</div>
            <div id="nav">
            <ul>
                <li class="current"><a href="{{ path('tareas_lista') }}" id="home">Home</a></li>
                <li>cuenta
                   </li>
                <li>log
                   </li>
            </ul>  
            </div>         
        <div id="contenido">
            <div id="aside">
              <div id="login">
                <form action="" method="post" name="formulario" id="formulario">
                  <p>Acceso zona usuarios</p>
                  <p>
                    <label for="usuario">Usuario<br>
                    </label>
                    <input type="text" name="usuario" id="usuario">
                  </p>
                  <p>
                    <label for="contraseña">Contraseña</label>
                  </p>
                  <p>
                    <input type="text" name="contraseña" id="contraseña">
                  </p>
                    <p>
                      <input type="submit" name="enviar" id="enviar" value="Enviar">
                    </p>
                  <p>&nbsp;</p>
                </form>
              </div>
              <div id="news">
                <p>&nbsp;</p>
                <p>Últimas noticias</p>
                <p>La primera edción del curso se desarrollará del 13 de Marzo al 25 de Abril de 2012</p>
              </div>
            </div>    
            <div id="principal">
                <div id="ArticuloI">
                    {% block body %}{% endblock %}
                </div>
            </div>
            </div>                            
            <div id="pie">
                {% block footer %}
                    <div id="autor">
                    &copy; Copyright 2014 - All rights reserved HTML.Design, layout and articles are copyrighted by <a href="http://www.formonline.es/">
                                                 Formonline
                                             </a>.
                                             </div>
                {% endblock %}
            </div> 
        </div> 
    </body>
</html>
